rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /rooms/{roomId}/{document=**} {
      allow read, create :if request.auth.uid in get(/databases/$(database)/documents/rooms/$(roomId)).data.users.keys()
    }
    match /waitlist/{userId} {
      allow read
      allow write :if request.resource.data.roomId == '';
    }
  }
}
